<div class="field">
    <label class="label">Base Path</label>
    <div class="control">
      <input class="input" type="text" (keyup.enter)="onEnter($event)" [(ngModel)]="basePathValue">
    </div>
  </div>
<div class="field">
  <label class="label">API Command</label>
  <div class="control">
      <ng2-completer 
      inputClass="input" 
      [(ngModel)]="apiCommandValue" 
      [datasource]="dataService" 
      [minSearchLength]="0" 
      (keyup)="onPress($event)"></ng2-completer>
  </div>
</div>
<div class="field">
  <label class="label">Query Parameters</label>
  <div class="control">
    <textarea class="textarea" type="text" (keyup.enter)="onEnter($event)" [(ngModel)]="queryParameterValue"></textarea>
  </div>
</div>

<div class="field">
  <label class="label">Previous Commands</label>
  <div class="control">
    
  </div>
</div>